language: python - "2.7"
sudo: false

install:
    - pip install --user git+https://github.com/syntaf/travis-sphinx
    - export PATH=$HOME/.local/bin:$PATH

script:
    - travis-sphinx --source=test/docs/source build
    - travis-sphinx deploy
